name: Node.js Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'  # You can choose a different Node.js version if needed.

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npm start
